@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black-600: #222B38;
    --header-height: 44px;
}

body {
    min-height: 100dvh;
    @apply text-[var(--black-600)] px-6 pb-6 pt-[var(--header-height)] font-text;
}

* {
    transition: all 0.2s ease-in-out;
}
